:root {
  --primary-font: 'Bakbak One',sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 1rem;
  perspective: 14rem;
}

h1 {
  text-align: center;
  transform: rotateY(30deg)
  translate(-150px);
}

body {
  color: red;
  font-family: var(--primary-font);
  padding: 1rem;
  background-color: black;
}

.flex_container {
  display: flex;
}

#score_table {
  font-size: 1.25rem;
  overflow-y: auto;
  width: 100%;
  border: 2px solid red ;
  box-shadow: #ff0080 20px 20px 20px;
  background-color: aqua;
  height: 300px;
  max-height: 200px;
  border-collapse: collapse;
  color: black;
}
td {
  padding-inline: 2rem;
}

tr {
  transition: transform 0.2s ease-in-out;
}

tr:nth-child(even) {
  background-color: blue;
  color: white;
  margin: 0;
}

#reset_scores,
#add_scores {
  padding: 2rem;
  flex-wrap: wrap;
  flex: 1 1;
  gap: 1rem;
}

#reset_scores {
  justify-content: space-between;
}

#add_scores {
  width: fit-content;
}

#score_form {
  width: fit-content;
  gap: 1rem;
  align-items: flex-end;
}

.flex_column {
  flex-direction: column;
}

.button {
  width: fit-content;
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
  background-color: #ff8000;
  border: 2px solid red;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.2);
  color: white;
  border-width: 4px;
  border-radius: 10px;
}

tr:hover {
  transform: scale(1.1);
  color: white;
  font-weight: bold;
  background-color: purple;
}
